#overlay {
	width: 100%;
	
	position: fixed;
	top: -256px;
	
	transition: top 0.3s;
}

#overlay.full {
	top: 0px;
}

#commconsole {
	width: 100%;
	height: 256px;
	
	background-color: #000;
}

.consoleline {
	width: 100%;
	height: 16px;
	margin: 0px;
	
	font-family: monospace;
	font-size: 12px;
	color: #fff;
	
	text-overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
}

csgr {
	color: #888;
}
csred {
	color: #a00;
}
csblue {
	color: #0aa;
}
cserror {
	font-weight: bold;
	color: #f00;
}
csnote {
	font-weight: bold;
	color: #0ff;
}

#commbar {
	width: 100%;
	height: 16px;
	
	background-color: #fff;
	font-family: monospace;
	font-size: 12px;
	color: #000;
}

#comminput {
	width: 100%;
	height: 16px;
	border: 0px;
	padding: 0px;
	
	background-color: #000;
	font-family: monospace;
	font-size: 12px;
	color: #fff;
	
	z-index: -100;
}
#comminput::before {
	background: rgba(0, 0, 0, 0);
	content: '';
	display: block;
	height: 16px;
	position: absolute;
	top: 256px;
	left: 0;
	opacity: 0;
	width: 100%;
	z-index: 100;
	
	transition: opacity 0.3s;
}

#comminput.erroralert::before {
	background: linear-gradient(rgba(255, 100, 100, 0.5) 0%, rgba(255, 50, 50, 0.4) 49%, rgba(255, 0, 0, 0.3) 51%, rgba(255, 0, 0, 0.2) 100%);
	opacity: 1;
}
#comminput.notealert::before {
	background: linear-gradient(rgba(100, 255, 255, 0.3) 0%, rgba(50, 255, 255, 0.24) 49%, rgba(0, 255, 255, 0.18) 51%, rgba(0, 255, 255, 0.12) 100%);
	opacity: 1;
}
#comminput.endalert::before, .full #comminput::before {
	opacity: 0;
}

/* mmm... tex thigh light */
#texthighlight {
	display: inline;
	
	color: #000;
	background-color: #fff;
}

/* Optional */
#commseperator {
	width: 100%;
	height: 16px;
	
	background-color: #888;
}
