@font-face {
	font-family: 'DV Sans Mono';
	src: url('/media/fonts/DejaVuSansMono.ttf');
}



html, body {
	margin: 0;
}

.consoleline,
#commbar,
#comminput {
	font-family: 'DV Sans Mono', monospace;
}


#bodytext {
	margin-top: 18px;
	margin-left: 8px;
}

h1, h2, p {
	font-family: 'DV Sans Mono', monospace;
	margin-top: 8px;
	margin-bottom: 4px;
}
